* {
  font-family: Arial, Helvetica, sans-serif;
}

.lasagna-h1 {
  font-size: 60px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: yellow;
  color: red;
}

.lasagna-description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: green;
}

.lasagna-p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.ingredients-p {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.ingredients-list {
  font-size: 24px;
}

.steps-p {
  font-size: 36px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: purple;
}

.steps-list {
  font-size: 24px;
}

.stew-h1 {
  color: purple;
  background-color: yellow;
  text-align: center;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
}